<app-navbar></app-navbar>

<h2>Enter KPI details</h2>

<form>
    <div class="form-row">
      <div class="form-group col-sm-3">
        <label for="title">KPI Title</label>
        <input type="title" class="form-control" id="inputEmail4" placeholder="Title">
      </div>
      <div class="form-group col-md-3 row-md-3">
        <label for="description">Description</label>
        <!-- <input type="textarea" rows="4" class="form-control" id="description" placeholder="Description"> -->
        <textarea id="description" rows="4" cols="50"></textarea>
    </div>
    <div class="form-group col-md-3 row-md-3">
        <label for="month">Select month</label>
        <!-- <input type="textarea" rows="4" class="form-control" id="description" placeholder="Description"> -->
        <input type="month" id="month">
    </div>
</div>
    
    <button type="submit" class="btn btn-primary">Create KPI</button>
  </form>
