<p>kpi-details works!</p>

<table *ngIf="kpi.title" class="table">
    <thead>
        <h3 >{{kpi.title}}</h3>
    </thead>
    <tbody>
        <tr>
            <td scope="col">Owner :</td><td scope="col">{{kpi.ownerFirstname}}  {{kpi.ownerLastname}}</td>
        </tr>
        <tr>
            <td scope="col">Owner Supervisor:</td><td scope="col">{{kpi.ownerSupervisorId}}</td>
        </tr>
        <tr>
            <td scope="col">Department:</td><td scope="col">{{kpi.departmentName}}</td>
        </tr>
    </tbody>
</table>
<pre><h5>{{kpi|json}}</h5></pre>